*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-size: 0.95rem;
    margin: 1.1rem 1.1rem 1.1rem 1.1rem ;
}
nav a {
    color: #3a506b;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    display: inline;
    list-style: none;
}
.nav-links li a:hover {
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}
.header{
    margin-top: 3rem;
    color: #0b132b;
    font-family: 'Libre Baskerville';
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
}
.short-intro{
    color: #3a506b;
    font-family: 'Source Sans 3';
    text-align: justify;
    font-weight: 300;
    margin: 1.1rem 10% 1.1rem 10% ;
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 1.1rem 10% 1.1rem 10% ;
}

.social-links i{
    color: #0b132b;
    font-size: 1.5rem;
}

.social-links i:hover{
    color: #3a506b;
    transition: color ease-in-out;
}

.section-head{
    display: flex;
    justify-content: space-between;
}

.section-header{
    color: #0b132b;
    font-family: 'Libre Baskerville';
    font-size: 1.3rem;
    margin: 1.1rem 10% 1.1rem 10% ;
}

.link-to-main{
    color: #3a506b;
    font-family: 'Source Sans 3';
    font-size: 0.95rem;
    font-weight: 300;
    margin: 1.1rem 10% 1.1rem 10% ;
}

.link-to-main:hover .arrow-click i,
.arrow-click:hover i {
    transform: translateX(5px);
}

.arrow-click {
    color: #3a506b;
    margin-left: 7px;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.misc-list{
    margin: 1.1rem 10% 1.1rem 10% ;
    list-style: none;
}

.misc-list li{
    font-family: 'Source Sans 3';
    font-weight: 300;
    color: #3a506b;
}

